<%- include('les parties/Header') -%>
<body class="messenger">
    <div class="container-fluid newsfeed d-flex" id="wrapper">
        <div class="row newsfeed-size f-width">
            <div class="col-md-12 message-right-side">
                <%- include('les parties/Topbar') -%>
                <div class="row message-right-side-content">
                    <div class="col-md-12">
                        <div id="message-frame">
                            <div class="message-sidepanel">
                                <div class="message-contacts settings-sidebar">
                                    <ul class="conversations">
                                        <h6 class="p-3">General Settings</h6>
                                        <li class="contact setting-active">
                                            <a href="/settings" class="wrap d-flex align-items-center">
                                                <img src="/images/icons/settings/account.png" class="settings-icon" alt="Settings left sidebar">
                                                <div class="meta">
                                                    <p>Your Account</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="contact">
                                            <a href="/settings-contact" class="wrap d-flex align-items-center">
                                                <img src="/images/icons/settings/contact.png" class="settings-icon" alt="Settings left sidebar">
                                                <div class="meta">
                                                    <p>Contact Info</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="contact">
                                            <a href="#" class="wrap d-flex align-items-center">
                                                <img src="/images/icons/settings/privacy.png" class="settings-icon" alt="Settings left sidebar">
                                                <div class="meta">
                                                    <p>Privacy</p>
                                                </div>
                                            </a>
                                        </li>
                                        <h6 class="p-3">Security &#38; Login</h6>
                                        <li class="contact">
                                            <a href="/settings-password" class="wrap d-flex align-items-center">
                                                <img src="/images/icons/settings/account.png" class="settings-icon" alt="Settings left sidebar">
                                                <div class="meta">
                                                    <p>Password</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="contact">
                                            <a href="#" class="wrap d-flex align-items-center">
                                                <img src="/images/icons/settings/security-question.png" class="settings-icon" alt="Settings left sidebar">
                                                <div class="meta">
                                                    <p>Security Question</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="contact">
                                            <a href="/settings-fingerprint" class="wrap d-flex align-items-center">
                                                <div class="meta"></div>
                                                <p><img src="/images/icons/settings/fingerprint.png" class="settings-icon" alt="Settings left sidebar"> Fingerprint Lock</p>
                                            </a>
                                        </li>
                                        <li class="contact">
                                            <a href="/settings-location" class="wrap d-flex align-items-center">
                                                <div class="meta"></div>
                                                <p><img src="/images/icons/settings/location.png" class="settings-icon" alt="Settings left sidebar"> Location</p>
                                            </a>
                                        </li>
                                        <h6 class="p-3">Billing &#38; Payment</h6>
                                        <li class="contact">
                                            <a href="/settings-billing-method" class="wrap d-flex align-items-center">
                                                <div class="meta"></div>
                                                <p><img src="/images/icons/settings/wallet.png" class="settings-icon" alt="Settings left sidebar"> Billing Method</p>
                                            </a>
                                        </li>
                                        <li class="contact">
                                            <a href="#" class="wrap d-flex align-items-center">
                                                <div class="meta"></div>
                                                <p><img src="/images/icons/settings/credit-card.png" class="settings-icon" alt="Settings left sidebar"> Automatic Payments</p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="content">
                                <div class="settings-form p-4">
                                    <h2>Your Account</h2>
                                    <form action="" method="" class="mt-4 settings-form">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="settingsFirstName">First Name</label>
                                                <input type="text" class="form-control" id="settingsFirstName" placeholder="First Name">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="settingsLastName">Last Name</label>
                                                <input type="text" class="form-control" id="settingsLastName" placeholder="Last Name">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-row mb-3 align-items-center">
                                                <div class="col">
                                                    <label for="settingsUsername">Username</label>
                                                    <input type="email" class="form-control" id="settingsUsername" aria-describedby="usernameHelp" value="arthur_minasyan_96" placeholder="Username">
                                                    <small id="usernameHelp" class="form-text text-muted">Your public username is the same as your timeline address.</small>
                                                </div>
                                                <div class="col check-username">
                                                    <span><i class='bx bx-check success'></i> Username is available</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <button type="submit" class="btn btn-primary btn-sm">Save Changes</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('les parties/script') -%>
</body></html>
